<h1>New {{ type }} entry</h1>

<br />

<p><strong>Note</strong>: {{ note }}</p>
<p><strong>Amount</strong>: {{ amount }}</p>
<p><strong>Category</strong>: {{ category }}</p>
<p><strong>Date</strong>: {{ date }}</p>
